{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mt-3">
            <div class="col-5 text-center">
                <img src="{{ asset('images/avatar/')~user.avatar.name }}" alt="Avatar de {{ user.fullname }}" class="avatar-profil">
                <br>
                <span class="btn btn-success center-block mt-3">{{ user.ads | length }} films</span>
            </div>

            <div class="col">
                <h1>{{ user.fullname }}</h1>
                {% if app.user is same as (user) %}
                    <div class="mt-3 text-center">
                        <a href="#" class="btn btn-secondary mt-2">Modifier mes informations</a>
                        <a href="#" class="btn btn-secondary mt-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if user.ads | length > 0 %}
            <div class="row mt-3">
                {% for ad in user.ads %}
                    {% include 'ad/_card.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}