<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">LFAV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories') }}">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads') }}">Tous les films</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="{{ asset('images/avatar/')~app.user.avatar.name }}" alt="Avatar de {{ app.user.fullname }}" class="avatar-mini mr-3">{{ app.user.fullName }} 
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('ad_create') }}">Ajouter un film</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('user', {'slug': app.user.slug }) }}">Mon profil</a>
                        <a class="dropdown-item" href="#">Modifier mon compte</a>
                        <a class="dropdown-item" href="#">Modifier mon password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link">Connexion</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('register') }}" class="nav-link">S'enregister</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} mt-3">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}